Package: com.r333d.cylinder
Name: Cylinder
Version: 0.1
Architecture: iphoneos-arm
Description: SEXY ICON POLE DANCING
Homepage: http://r333d.com
Maintainer: Reed Weichler <rweichler@gmail.com>
Author: Reed Weichler (rweichler) <rweichler@gmail.com>
Sponsor: POOP
Section: Tweaks
