<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
            <string>TRANSLATION</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>ENABLED</string>
			<key>set</key>
			<string>setEnabled:</string>
			<key>get</key>
			<string>enabled</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>lol</string>
			<key>defaults</key>
			<string>com.r333d.cylinder</string>
			<key>detail</key>
			<string>CLEffectsController</string>
			<key>id</key>
			<string>effect</string>
			<key>key</key>
			<string>effect</string>
			<key>label</key>
			<string>EFFECTS</string>
			<key>name</key>
			<string>Effect</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>lol</string>
			<key>defaults</key>
			<string>com.r333d.cylinder</string>
			<key>detail</key>
			<string>CLFormulasController</string>
			<key>id</key>
			<string>formula</string>
			<key>key</key>
			<string>formula</string>
			<key>label</key>
			<string>FORMULAS</string>
			<key>name</key>
			<string>Formula</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>RANDOMIZE</string>
			<key>set</key>
			<string>setRandomized:</string>
			<key>get</key>
			<string>randomized</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
            <string>FOOTER_TEXT</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.r333d.cylinder</string>
			<key>detail</key>
			<string>CLDonateController</string>
			<key>id</key>
			<string>donate</string>
			<key>key</key>
			<string>donate</string>
			<key>label</key>
			<string>DONATE</string>
			<key>name</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@rweichler</string>
            <key>icon</key>
            <string>Twitter.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitWeibo:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Weibo: r333d</string>
            <key>icon</key>
            <string>Weibo.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitGithub:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
            <key>icon</key>
            <string>github.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitReddit:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
            <string>R_CYLINDER</string>
            <key>icon</key>
            <string>reddit.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitBarrel:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
            <string>BARREL</string>
            <key>icon</key>
            <string>barrel.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>Cylinder</string>
</dict>
</plist>
