<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
            <string>Translations wanted! If you'd like to translate this tweak shoot me a tweet or an email</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>ENABLED</string>
			<key>set</key>
			<string>setEnabled:</string>
			<key>get</key>
			<string>enabled</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>lol</string>
			<key>defaults</key>
			<string>com.r333d.cylinder</string>
			<key>detail</key>
			<string>CLEffectsController</string>
			<key>id</key>
			<string>effect</string>
			<key>key</key>
			<string>effect</string>
			<key>label</key>
			<string>EFFECTS</string>
			<key>name</key>
			<string>Effect</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>lol</string>
			<key>defaults</key>
			<string>com.r333d.cylinder</string>
			<key>detail</key>
			<string>CLFormulasController</string>
			<key>id</key>
			<string>formula</string>
			<key>key</key>
			<string>formula</string>
			<key>label</key>
			<string>FORMULAS</string>
			<key>name</key>
			<string>Formula</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>RANDOMIZE</string>
			<key>set</key>
			<string>setRandomized:</string>
			<key>get</key>
			<string>randomized</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
            <string>In case you didn't know, the effects in this tweak weren't made by just one person. At this point it's been from the efforts of 10 different people. If you want, you can make your own page transition effects. You don't need any programing experience, nor do you need any expensive software or hardware to make them. Just the phone you have in your hand right now.

The effects are coded in Lua, which is arguably the easiest language to learn if you never coded before. Lua was the first language I ever learned and it was what got me into all this (I made Garry's Mod weapons).

Anyway to get to these effect scripts, open iFile (or Filza) and go to /Library/Cylinder. There you'll see a bunch of folders with people's usernames. In these folders you'll see a bunch of .lua files. If you open any of these with the text viewer you can see the code. For a start I'd recommend looking at the Backwards.lua file in the gertab folder to get an idea of how to do it. In there if you edit the 2*offset to 3*offset (don't forget to reload the effect after) you'll notice a kind of "Backwards hella far" effect. If you want, you can go and edit the values of the other scripts too.

If you want to start making your own, make your own folder and put your .lua scripts in there. Cylinder will automatically detect them and put them in the effect list. EXAMPLE.lua goes a bit more in depth and tells you all of the functions you can use.

If you make an effect you're proud of, you can put it on /r/cylinder (which I linked to above) for other people to enjoy.

Anyway, regardless, enjoy the tweak :D
</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.r333d.cylinder</string>
			<key>detail</key>
			<string>CLDonateController</string>
			<key>id</key>
			<string>donate</string>
			<key>key</key>
			<string>donate</string>
			<key>label</key>
			<string>DONATE</string>
			<key>name</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@rweichler</string>
            <key>icon</key>
            <string>/Applications/Preferences.app/Twitter.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitGithub:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>SOURCE_CODE</string>
            <key>icon</key>
            <string>github.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitReddit:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
            <string>R_CYLINDER</string>
            <key>icon</key>
            <string>reddit.png</string>
		</dict>
		<dict>
			<key>action</key>
			<string>visitBarrel:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
            <string>BARREL</string>
            <key>icon</key>
            <string>barrel.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>Cylinder</string>
</dict>
</plist>
