<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
            <string>Effect scripts stored in /Library/Cylinder/</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enabled</string>
			<key>set</key>
			<string>setEnabled:</string>
			<key>get</key>
			<string>enabled</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>lol</string>
			<key>defaults</key>
			<string>com.r333d.cylinder</string>
			<key>detail</key>
			<string>CLEffectsController</string>
			<key>id</key>
			<string>effect</string>
			<key>key</key>
			<string>effect</string>
			<key>label</key>
			<string>Effects</string>
			<key>name</key>
			<string>Effect</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Randomize</string>
			<key>set</key>
			<string>setRandomized:</string>
			<key>get</key>
			<string>randomized</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
            <string>that new elk road EP tho</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>visitTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@rweichler</string>
		</dict>
		<dict>
			<key>action</key>
			<string>viewSource:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>View source (and license) on GitHub</string>
		</dict>
	</array>
	<key>title</key>
	<string>Cylinder</string>
</dict>
</plist>
