Package: com.r333d.cylinder
Name: Cylinder
Version: 0.14.3.16
Architecture: iphoneos-arm
Depends: firmware (>= 3.0), mobilesubstrate, preferenceloader
Depiction: https://raw2.github.com/rweichler/cylinder/master/CHANGELOG.md
Description: Make your icons dance
Homepage: http://github.com/rweichler/cylinder
Maintainer: Reed Weichler <rweichler+cydia@gmail.com>
Author: Reed Weichler (rweichler) <rweichler+cydia@gmail.com>
Section: Tweaks
